.unordered { list-style-type: square; } .nested-ul { list-style-type: circle; }
.unordered {

    line-height: 170%;
    
    }.unordered {

        background: red;
        
        padding: 20px;
        
        width: 30%;
        
        font-family: Arial, Helvetica, sans-serif;
        
        }
        
        .unordered li {
        
        background: orange;
        
        margin: 5px;
        
        }
        
        .nested-ul li {
        
        background: greenyellow;
        
        margin: 5px;
        
        }
