.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(47, 45, 156);
}

.navbar li {
    float: inherit;
}
.navbar li a {
    display: block;
    color: rgb(229, 255, 0);
    text-align: center ;
    padding: 14px 16px;
    text-decoration-style: inherit;
width: 800px;
margin: auto;
   }
.navbar li a:hover{
    background-color: rgb(67, 173, 40);
    text-decoration-style: dashed;
    text-decoration-thickness: 1,9px;   
      
}
body {
    color: black;
   width: 900px;
   margin: auto;
   background-image: linear-gradient(to top, #e9891b 99%,#cc3300 99%);
  }    




ul.topnav li a:hover:not(.active) {background-color: #745;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 450px) {
  ul.topnav li.right, 
  ul.topnav li {float: inline-start;}
}
